h1,
h2,
h3,
h4,
h5,
p,
span,
li,
ul {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}
.register-title {
  font-weight: 600;
}
.send, .receive {
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 64%, 100% 74%, 100% 99%, 85% 85%, 0% 85%);
  height: 6.65rem;
}
.send h3, .receive > h3 {
  font-weight: 500;
  font-size: large;
}
.chat-section {
  overflow-y: auto;
}